//.footer {
    //position: fixed;
    //bottom: 0;
    //width: 100%;
    //min-height: 70px;
    //background-color: #f5f5f5;
    //padding-top: 20px
//}

.footer {
    padding-top: 20px;
}


#gototop{
    height: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    background: #C7C7C7;
    font-size: 24px;
    color: #fff;
}
.cp{
    margin-top: 11px;
}