{% extends 'base.html' %}
 {% block login %} {% endblock %}

{% block contenido %}

<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div id="login" >
        <a href="{% url 'social:begin' 'twitter' %}" >Twitter</a>
        <a href="{% url 'social:begin' 'facebook' %}" >Facebook</a>
        {% if valid %}
        <div class="alert alert-success col-sm-12">
            <p>Su usuario fue activado!</p>
        </div>
        {% endif %}
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title">Iniciar Sesión</div>
                <!-- ver -->
    <!--
                <div style="float:right; font-size: 80%; position: relative; top:-10px" >
                <a href="#">¿Has olvidado tu contraseña?</a></div>
    -->
            </div>

            <div style="padding-top:30px" class="panel-body" >
                <form id="loginform" class="form-horizontal" role="form"
                    method="post" action="{% url 'django.contrib.auth.views.login' %}">
                    {% csrf_token %}
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Usuario">
                    </div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
    <!--
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" name="remember" value="1"> Recordarme
                            </label>
                        </div>
                    </div>
    -->
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <input type="submit" class="btn btn-primary" value="Entrar" />
<!--
                            <a href="#" class="btn btn-primary">Ingresar con Facebook</a>
-->
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                         {% if form.errors %}
                            <div class="alert alert-danger col-sm-12">
                                <p>Su usuario y/o contraseña no son válidos. Por favor, intente nuevamente</p>
                            </div>
                        {% endif %}
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                No tiene una cuenta!
                            <a href="/accounts/signup">
                                Registrarse
                            </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}



