{% extends 'base.html' %}
 {% block login %} {% endblock %}
{% block contenido %}

<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<div id="signup" style="margin-top:50px" >
    <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Cambiar Contraseña</div>
            </div>
            <div class="panel-body" >
               <form id="loginform" class="form-horizontal" role="form">

                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Contraseña anterior">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="Nueva contraseña">
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name="password1" placeholder="Confirme Contraseña">
                </div>
                <div style="margin-top:10px" class="form-group">
                    <div class="col-sm-12 controls">
                        <input type="submit" class="btn btn-success" value="Guardar" />
                           <a href="/home" class="btn btn-default">Cancelar</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                     {% if form.errors %}
                        <div class="alert alert-danger col-sm-12">
                        {% for error in form.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                            <p>
                            </p>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </form>
             </div>
        </div>
    </div>
</div>
</div>

{% endblock %}



