{% extends 'base.html' %}
{% block login %} {% endblock %}
{% block contenido %}
<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
<div id="signup" >
    {% if modif != True %}
    <div class="alert alert-info col-sm-12">
        <p>Luego de registrarse enviaremos un mail a su correo para que active su usuario.</p>
    </div>
    {% endif %}
    <div class="panel panel-default">
            <div class="panel-heading">
            {% if modif %}
                <div class="panel-title">Modificación de usuario</div>
            {% else %}
                <div class="panel-title">Registrarse</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px">
                    <a href="/accounts/login">Iniciar Sesión</a>
                </div>
            {% endif %}
            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form"
                        method="post" action="{% url 'EscaparateApp.views.signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-md-3 control-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="first_name" placeholder="Nombre" value="{{ form.first_name.value }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Apellido</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="last_name" placeholder="Apellido" value="{{ form.last_name.value }}" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Usuario</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="Usuario" value="{{ form.username.value }}" >
                        </div>
                        <div class="col-md-9 col-md-offset-3" style="color:red">
                            {{ form.username.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email" value="{{ form.email.value }}" >
                        </div>
                        <div class="col-md-9 col-md-offset-3" style="color:red">
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Contraseña</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password1" placeholder="Contraseña" >
                        </div>
                        <div class="col-md-9 col-md-offset-3" style="color:red">
                            {{ form.password1.errors }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Confirmar Contraseña</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password2" placeholder="Confirmar Contraseña" >
                        </div>
                         <div class="col-md-9 col-md-offset-3" style="color:red">
                            {{ form.password2.errors }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="summit" class="btn btn-primary">
                                &nbsp Confirmar
                            </button>
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger col-sm-12">
                            <p>Datos incorrectos. Por favor, intente nuevamente</p>
                        </div>
                    {% endif %}
                    {{ form.id }}
                </form>
             </div>
        </div>
    </div>
</div>
</div>

{% endblock %}



