<html>

    <head>
        {% load staticfiles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "scripts/jquery.sidr.min.js" %}""></script>
        <script type="text/javascript" src="{% static "scripts/escaparateJs.js" %}""></script>

        <link rel="stylesheet" href="{% static "css/jquery.sidr.light.css" %}" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
        <link rel="stylesheet" href="{% static "css/sticky-footer-navbar.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "css/escaparateStyle.css" %}" type="text/css" />

        {% block js_css_extra %}
        {% endblock %}

    </head>

    <body>

<div class="navbar navbar-default fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

             <a id="menu" class="navbar-brand" href="">
                <span class="glyphicon glyphicon-star-empty" style="color:#286090">Escaparate</span>
             </a>

        </div>
        {% if user.is_authenticated %}
            <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a aria-expanded="false" href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, <strong>{{ user.username }}</strong> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
<!--
                            <li><a href="/accounts/password_reset/">Cambiar Contraseña</a></li>
-->
                            {% if user.social_auth.count == 0%}
                            <li><a href="/modificarperfil">Modificar</a></li>
                            {% endif %}
                            <li><a href="/accounts/logout">Salir</a></li>
                        </ul>
                    </li>
                    {% if user.is_staff %}
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="/admin"><span class="glyphicon glyphicon-cog"></span>
                            Administrar
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}

            {% block login %}
            <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
                <a class="navbar-brand" href="/accounts/login/">Iniciar Sesión</a>
            </div>
            {% endblock %}

        {% endif %}
    </div>
</div>

<div  id="contenido" class="container-fluid"">

{% block contenido %}


{% endblock %}

</div>

    <br/>

    <div class="footer">
        <div class="col-md-12 text-center">

            <p style="padding-top: 10px;"">
            <b>Escaparate - Vidriera Virtual.</b> (Ing. Web UCSE 2015 - Onisimchuk Gonzalo - Scandalo Pablo)

            <span class="pull-right">
                <a id="gototop" class="gototop pull-right" href="#"><i><span class="glyphicon glyphicon-menu-up"/></i></a>
            </span>
            </p>
        </div>
    </div>

    <div id="menuEscaparate" class="sidr left" style="display: none;">

    {% load escaparate_tags %}

    {% menu %}

    </div>

    </body>

</html>

<script>

$(document).ready(function() {

    $('#menu').sidr({
      name : 'menuEscaparate',
      displace : false
      });

    $('#cerrarmenu').sidr({
        name : 'menuEscaparate',
        displace : false
        });

});


 $(document).mouseup(function (e)
    {
        var containerHTML = document.getElementById("menuEscaparate").innerHTML;
        var container = $("menuEscaparate");
        if (e.target.id != container.selector
            && containerHTML.indexOf(e.target.outerHTML) == -1)
        {
            $.sidr('close', "menuEscaparate");
        }
    });

</script>