{% extends 'base.html' %}

{% block contenido %}

<div class="col-md-6 col-md-offset-3">

<fieldset>
<legend>Mi escaparate</legend>

<form  id="crearescaparate" class="form-horizontal" role="form"
    method="post" action="{% url 'EscaparateApp.views.crearescaparate' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{ escaparate.nombre }}">
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.nombre.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="descripcion" placeholder="Descripcion" rows="6">{{ escaparate.descripcion }}</textarea>
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.descripcion.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="direccion" class="col-sm-2 control-label">Direccion</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="direccion" placeholder="Direccion" value="{{ escaparate.direccion }}">
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.direccion.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="ciudad" class="col-sm-2 control-label">Ciudad</label>
      <div class="col-sm-10">
        <select class="form-control" name="ciudad">
            <option selected></option>
            {% for ciudad in ciudades %}
                {% if ciudad == escaparate.ciudad %}
                    <option selected value={{ ciudad.id }}>{{ciudad}}</option>
                {% else %}
                    <option value={{ ciudad.id }}>{{ciudad}}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.ciudad.errors }}
    </div>
  </div>
    <div class="form-group">
    <label for="categoria" class="col-sm-2 control-label">Categoria</label>
      <div class="col-sm-10">
        <select class="form-control" name="categoria">
            <option selected></option>
            {% for categoria in categorias %}
                {% if categoria == escaparate.categoria %}
                    <option selected value={{ categoria.id }}>{{categoria}}</option>
                {% else %}
                    <option value={{ categoria.id }}>{{categoria}}</option>
                {% endif %}
            {% endfor %}
        </select>
      </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.categoria.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="telefono" class="col-sm-2 control-label">Telefono</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="telefono" placeholder="Telefono" value="{{ escaparate.telefono }}">
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.telefono.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" placeholder="Email" value="{{ escaparate.email }}">
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.email.errors }}
    </div>
  </div>
  <div class="form-group">
    <label for="paginaweb" class="col-sm-2 control-label">Pagina web</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="paginaweb" placeholder="Pagina web" value="{{ escaparate.paginaweb }}">
    </div>
    <div class="col-md-9 col-md-offset-3" style="color:red">
        {{ form.paginaweb.errors }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Confirmar</button>
    </div>
  </div>
</form>

</fieldset>

</div>

{% endblock contenido %}
<!--
    categoria = models.ForeignKey(Categoria, null=False, blank=False)
-->
