{% extends 'base.html' %}

{% block js_css_extra %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/star-rating.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "scripts/star-rating.js" %}""></script>

{% endblock %}

{% block contenido %}

<div class="col-md-5 col-md-offset-1">
    <h2>Escaparate: {{ escaparate.nombre }} </h2>
    <br/>
    <h3>Detalle de calificaciones..</h3>
    <br/>
    {% for d in detalle %}

    <div class="media">
      <div class="media-left media-middle">
        <div class="media-left media-middle">
        {% if d.puntuacion >= 3 %}
            <span class="glyphicon glyphicon-thumbs-up" />
        {% else %}
            <span class="glyphicon glyphicon-thumbs-down"/>
        {% endif %}
      </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
            {{ d.fechaHora }} - {{ d.usuario }}
        </h4>
         <h5><strong>Calificación:</strong></h5>
        <input data-show-clear="false" data-min="0" data-max="5" data-step="0.5" class="rating" value="{{ d.puntuacion|stringformat:"f" }}" data-readonly="true" data-size="sm">
        {% if d.comentario %}
            <strong>Comentario:</strong> {{ d.comentario }}
        {% endif %}
      </div>
    </div>
    <hr/>

    {% empty %}
        <p>Aún no se han registrado calificaciones!</p>
    {% endfor %}

</div>
<div class="col-md-4">

<!--
{% load escaparate_tags %}

{% escaparatesMasPuntuados %}
-->

</div>

{% endblock %}