<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-star-empty"></span> TOP 10-Escaparate
    </h3>
  </div>
  <div class="panel-body">
    <p>Los Escaparates más puntuados:</p>
  </div>
  <div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Escaparate</th>
        <th>Puntaje</th>
      </tr>
      <tbody>

           {% for esc in escaparates %}

          <tr>
            <th scope="row">{{ forloop.counter }} </th>
            <td>
                <a href="/escaparate/?escaparate_id={{esc.id}}">
                    {{ esc.nombre}}
                </a>
            </td>
            <td>{{esc.calificacion}}</td>
          </tr>

           {% endfor %}

        </tbody>
    </thead>
  </table>
  </div>
</div>