{% extends 'base.html' %}

{% block js_css_extra %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/star-rating.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "scripts/star-rating.js" %}""></script>

{% endblock %}

{% block contenido %}

<div class="col-md-6">
<!--Escaparate-->
    <div class="panel panel-primary">
        <div class="panel-body">

        <div class="row">
            <div class="col-md-10">
                <h1>{{ escaparate.nombre }}</h1>
            </div>

             {% if miescaparate %}
              <div class="text-right col-md-2">
                    <div class="btn-group">
                      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                          <span class="glyphicon glyphicon-cog"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                          <li>
                              <a href="/crearescaparate">
                                <span class="glyphicon glyphicon-edit"></span>
                                Modificar
                              </a>
                          </li>
                          <li>
                              <a type="button" data-toggle="modal" data-target="#eliminarEscaparate">
                                <span class="glyphicon glyphicon-trash"></span>
                                Eliminar
                              </a>
                          </li>
                      </ul>
                    </div>
            </div>
            {% endif %}

        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                 <label for="" class="control-label">Descripción:</label>
                <p>
                {{ escaparate.descripcion }}
                </p>
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
                 <label for="" class="control-label">Categoria:</label>
                <p>{% if escaparate.categoria != None %} {{escaparate.categoria }} {% endif %}</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <label for="" class="control-label">Dirección:</label>
                    <p>{{ escaparate.direccion }}</p>
                </div>
                <div class="col-md-12">
                    <label for="" class="control-label">Ciudad:</label>
                    <p>{% if escaparate.ciudad != None %} {{escaparate.ciudad}} {% endif %}</p>
                </div>
                <div class="col-md-12">
                    <label for="" class="control-label">Teléfono:</label>
                    <p>{{ escaparate.telefono }}</p>
                </div>
                <div class="col-md-12">
                    <label for="" class="control-label">Email:</label>
                    <p><a href="mailto:{{ escaparate.email }}">{{ escaparate.email }}</a></p>
                </div>
                <div class="col-md-12">
                    <label for="" class="control-label">Web:</label>
                    <p><a href="http://{{ escaparate.paginaweb }}" target="_blank">{{ escaparate.paginaweb }}</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="text-center">CALIFICACIÓN</h2>
                <div class="col-md-12">
                    <div class="text-center">
                    <input data-show-clear="false" data-min="0" data-max="5" data-step="0.01" class="rating" value="{{ escaparate.calificacion|stringformat:"f" }}" data-readonly="true" data-size="sm">
                    </div>
<!--
                    {{ escaparate.calificacion }}
-->

                    <div class="text-center">
                    <a href="{% url 'EscaparateApp.views.detalleCalificaciones' %}?escaparate_id={{escaparate.id}}">
                        Cantidad de calificaciones:
                        <strong>{{ escaparate.puntuacionDenominador }}</strong>
                        </a>
                    </div>

                {% if user.is_authenticated %}
                   {% if miescaparate == False %}
                   <hr/>
                    <div class="col-md-6 text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Calificar" style="width:100%;">
                          Calificar
                        </button>
                    </div>
                    <div class="col-md-6 text-center">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#denunciarEscaparate" style="width:100%;">
                            Denunciar
                        </button>
                    </div>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="col-md-6">
<!--Publicación-->
    <div class="panel panel-primary">
        <div class="panel-body">

        {% if miescaparate %}
             <a type="button" class="btn btn-primary" href="{% url 'EscaparateApp.views.crearPublicacion' %}">
                <span class="glyphicon glyphicon-plus"></span>
                Nueva Publicación
              </a>
              &nbsp&nbsp&nbsp
        {% endif %}

        <a id="listadoPublicaciones" href="#right-menu">Listado de Publicaciones..</a>

        {% if publicaciones %}
            <h2>{{ publicaciones.titulo }}</h2>
            <p><span class="glyphicon glyphicon-time"></span>  {{ publicaciones.fechaHora }} </p>

            <hr>

            {% if publicaciones.imagen %}
                <img class="img-responsive center-block" src="{{ publicaciones.imagen.url }}">
                <hr>
            {% endif %}

            <p class="lead">{{ publicaciones.descripcion }}</p>
            <hr>
            {% if miescaparate %}
                {% if publicaciones != None %}
                <a type="button" class="btn btn-primary" href="{% url 'EscaparateApp.views.editarPublicacion' %}?publicacion_id={{publicaciones.id}}">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar
                </a>
                <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarPublicacion">
                <span class="glyphicon glyphicon-trash"></span> Eliminar</a>

                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
{% if publicaciones %}
        {% if user.is_authenticated %}
            <div class="well">
               <form role="form" method="POST" action="{% url 'EscaparateApp.views.comentarpublicacion' %}" >
                {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" name="inputComentario" placeholder="Comentario.." rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" name="idPublicacion" value="{{ publicaciones.id }}">Comentar</button>
                </form>
            </div>
        {% endif %}

        {% for comentario in comentarios %}
            <hr>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">{{ comentario.usuario }}
                        <small> {{ comentario.fechaHora }}</small>
                    </h4>
                    {{ comentario.comentario }}
                    {% if comentario != None %}
                        {% if comentario.usuario == user %}

                        <span class="pull-right">
                            <a href="/eliminarcomentario/?comentario_id={{comentario.id}}&publicacion_id={{publicaciones.id}}">
                                <span class="glyphicon glyphicon-trash"></span> Eliminar
                            </a>
                        </span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <span class="glyphicon glyphicon-info-sign"></span>
         Al parecer aún no posee publicaciones!
    </div>
{% endif %}
</div>

<!--CALIFICAR-->
<div class="modal fade" id="Calificar" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="POST" action="{% url 'EscaparateApp.views.puntuarEscaparate' %}" >
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Calificar: {{escaparate.nombre}}</h4>
            </div>
            <div class="modal-body">

                <input id="rating-input" name="inputPuntuacion" class="rating" data-size="sm">
                <div>
                    <textarea cols="40" rows="5" class="form-control" name="inputComentario" placeholder="Comentario.." maxlength="200"></textarea>
                </div>
                <br/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="summit" name="idEscaparate" value="{{ escaparate.id }}" class="btn btn-primary">Calificar</button>
          </div>
         </div>
         </form>
    </div>
</div>

<!--DENUNCIAR-->
<div class="modal fade" id="denunciarEscaparate" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="POST" action="{% url 'EscaparateApp.views.denunciarescaparate' %}" >
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Denunciar escaparate: {{escaparate.nombre}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" name="inputMotivo" placeholder="Motivo.." rows="3" required maxlength="200"></textarea>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" name="idEscaparate" value="{{ escaparate.id }}" >Guardar</button>
          </div>
         </div>
         </form>
    </div>
</div>

{% if miescaparate %}

<!--Eliminar Escaparate-->
<div class="modal fade" id="eliminarEscaparate" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar escaparate: {{escaparate.nombre}}</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar el escaparate y todo su contenido?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <a type="button" class="btn btn-primary" href="/eliminarescaparate/?escaparate_id={{escaparate.id}}"" >Guardar</a>
          </div>
         </div>
    </div>
</div>

<!--Eliminar Publicacion-->
<div class="modal fade" id="eliminarPublicacion" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Eliminar publicación: {{publicaciones.titulo}}</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar la publicación?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <a type="button" class="btn btn-primary" href="/eliminarpublicacion/?publicacion_id={{publicaciones.id}}">Guardar</a>
          </div>
         </div>
    </div>
</div>

{% endif %}

<!--Lista Publicaciones-->
<div id="publicacionesEscaparate" class="sidr right" style="display: none">

    {% load escaparate_tags %}
    {% listaPublicaciones escaparate %}

</div>


<script>

$(document).ready(function() {

    $('#listadoPublicaciones').sidr({
      name: 'publicacionesEscaparate',
      side: 'right',
      displace : false
    });

    $('#cerrarPublicaciones').sidr({
      name: 'publicacionesEscaparate',
      side: 'right',
      displace : false
    });

    $(document).mouseup(function (e)
    {
        var containerHTML = document.getElementById("publicacionesEscaparate").innerHTML;
        var container = $("publicacionesEscaparate");
        if (e.target.id != container.selector
            && containerHTML.indexOf(e.target.outerHTML) == -1)
        {
            $.sidr('close', "publicacionesEscaparate");
        }
    });

});

</script>



{% endblock %}



