{% extends 'base.html' %}

{% block js_css_extra %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/star-rating.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "scripts/star-rating.js" %}""></script>

{% endblock %}

{% block contenido %}


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
            <span class="glyphicon glyphicon-list-alt"></span>
             Novedades - Últimas publicaciones {% if categoria.nombre != None %} - {{categoria.nombre}} {% endif %}</h3>
          </div>
          <div class="panel-body">
            {% if publicaciones.count < 1%}
                  <div class="panel-body">
                       <p class="lead">Ups!! No hay nada por aqui</p>
                  </div>
            {% else %}
                {% for pub in publicaciones %}

                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                        <h2>
                            <a href="/escaparate/?escaparate_id={{pub.escaparate.id}}">
                                {{ pub.escaparate.nombre}}
                            </a>
                        </h2>
                    </div>
                    <div>
                        <h3>
                            <a href="/escaparate/?publicacion_id={{pub.id}}">{{pub.titulo}}</a>
                            <span class="pull-right glyphicon glyphicon-time" style="font-size: 50%; padding-top: 12px;">
                             {{ pub.fechaHora }}
                             </span>
                         </h3>
                         <hr/>
                        {% if pub.imagen %}
                                <img class="img-responsive center-block" src="{{ pub.imagen.url }}">
                            <hr>
                        {% endif %}
                         <p class="lead">{{pub.descripcion}}</p>
                         <hr>
                    </div>
                  </div>
                </div>

                {% endfor %}
            {% endif %}
          </div>
        </div>
    </div>
    <div class="col-md-4">

    {% load escaparate_tags %}

    {% escaparatesMasPuntuados %}

    {% ultimasCalificaciones %}

    </div>
</div>

<!--
{% if user.is_authenticated %}
    <h1>Bienvenido</h1>
<!--
    <h2><a href="/miescaparate">Mi escaparate</a> </h2>
    <h2><a href="/crearescaparate">Crear escaparate</a> </h2>
-->
<!--
{% else %}
    <h1>Bienvenido lo invitamos a <a href="/accounts/signup">registrarse</a> a nuestra comunidad.</h1>
{% endif %}
-->

{% endblock %}
