<div class="row">
    <div id="cerrarPublicaciones" class="col-md-11">
        <a class="navbar-brand" href="">
            &nbsp&nbsp&nbsp
            <span class="glyphicon glyphicon-star-empty" style="color:#286090">Publicaciones</span>
        </a>
    </div>
</div>
<br/>

<div class="col-md-10 col-md-offset-1">

{% if publicaciones %}

    {% for pub in publicaciones %}
        <div class="row">
            <span class="glyphicon glyphicon-time" style="font-size: 80%;">
             {{ pub.fechaHora }}
             </span>
        </div>
        <div class="row" style="padding-top: 10px;">
            <a href="/escaparate/?publicacion_id={{pub.id}}">{{pub.titulo}}</a>
        </div>
        <br/>
    {% endfor %}

{% else %}

<div class="text-center">
    <span class="glyphicon glyphicon-info-sign"></span>
     Al parecer aún no posee publicaciones!
</div>

{% endif %}

</div>