
<div class="row">
    <div id="cerrarmenu" class="col-md-11">
        <a class="navbar-brand" href="">
            &nbsp&nbsp&nbsp
            <span class="glyphicon glyphicon-star-empty" style="color:#286090">Escaparate</span>
        </a>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        &nbsp&nbsp&nbsp
        <a href="/home">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        &nbsp&nbsp&nbsp
        {% if escaparate %}
        <a href="/escaparate">
            <span class="glyphicon glyphicon-star"></span>
            Mi Escaparate
        </a>
        {% else %}
        <a href="/crearescaparate">
            <span class="glyphicon glyphicon-star"></span>
            Crear mi escaparate
        </a>
        {% endif %}
    </div>
</div>
<br/>

<form type="get" action="{% url 'EscaparateApp.views.buscar' %}" >
<div class="row">
    <div class="col-md-10 col-md-offset-1">

    {{form.q}}

    <button class="btn btn-primary" style="width: 100%;" type="summit" >Buscar</button>

    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    {% for m in form.models %}
        {{ m }}
    {% endfor %}
    </div>
</div>
</form>

<br/>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <fieldset>
    <legend>&nbsp&nbsp&nbspCategorías:</legend>
        <div class="list-group">
            {% for categoria in categorias %}
                <a href="/home/?categoria_id={{categoria.id}}" class="list-group-item">{{categoria}}</a>
            {% endfor %}
        </div>
    </fieldset>
    </div>
</div>

<!--
         <a href="#" class="list-group-item active">
-->
