{% extends 'base.html' %}

{% block contenido %}

<div class="col-md-6 col-md-offset-3">

<h2>{{ escaparate.nombre }}</h2>
<fieldset>
<legend>Publicación..</legend>

<form role="form" method="POST" enctype="multipart/form-data" action="{% url 'EscaparateApp.views.crearPublicacion' %}" >
    {% csrf_token %}

    <div class="form-group">
    {{ publicacionForm.titulo }}
        <div style="color:red">
            {{ publicacionForm.titulo.errors }}
        </div>
    </div>

    <div class="form-group">
        {{ publicacionForm.descripcion }}
        <div style="color:red">
            {{ publicacionForm.descripcion.errors }}
        </div>
    </div>

    <div class="form-group">
        <p>{{ publicacionForm.imagen.label_tag }} </p>
        {{ publicacionForm.imagen }}
        <br/>
        <div style="color:red">
            {{ publicacionForm.non_field_errors }}
            {{ publicacionForm.imagen.errors }}
        </div>
    </div>
    {{ publicacionForm.id }}
    <br/>

    {% if facebook %}
      <div class="checkbox">
        <label>
            <input type="checkbox" name="aa" > Compartir en Facebook
        </label>
      </div>
    {% endif %}

    <br/>
    <a type="button" class="btn btn-default" href="/escaparate">Cancelar</a>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

</fieldset>

</div>

{% endblock contenido %}
<!--
    categoria = models.ForeignKey(Categoria, null=False, blank=False)
-->
