{% extends 'base.html' %}

{% block js_css_extra %}

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static "css/star-rating.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "scripts/star-rating.js" %}""></script>

{% endblock %}

{% block contenido %}

<div class="col-md-7 col-md-offset-1">

    <h3>Resultados de la búsqueda..</h3>

    {% for result in resultados %}

        {% if result.content_type == "EscaparateApp.escaparate" %}

            <div class="media">
              <div class="media-left media-middle">
                <span class="glyphicon glyphicon-menu-right" />
              </div>
              <div class="media-body">
                <h4 class="media-heading">Escaparate:
                    <a href="/escaparate/?escaparate_id={{result.object.id}}">
                    {{ result.object.nombre}}
                    </a>
                </h4>
                <p>
                {{ result.object.descripcion }}
                </p>
              </div>
            </div>
            <hr/>
        {% endif %}

        {% if result.content_type == "EscaparateApp.publicacion" %}
            <div class="media">
              <div class="media-left media-middle">
                <span class="glyphicon glyphicon-menu-right" />
              </div>
              <div class="media-body">
                <h4 class="media-heading">Publicación:
                    <a href="/escaparate/?publicacion_id={{result.object.id}}">
                        {{ result.object.titulo}}
                    </a>
                </h4>
                <p>
                {{ result.object.descripcion }}
                </p>
              </div>
            </div>
            <hr/>
        {% endif %}

    {% empty %}
        <p>No se han encontrado coincidencias..</p>
    {% endfor %}

</div>
<div class="col-md-4">

{% load escaparate_tags %}

{% escaparatesMasPuntuados %}

{% ultimasCalificaciones %}

</div>

{% endblock %}