<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
        <span class="glyphicon glyphicon-check"></span>  Últimas calificaciones
    </h3>
  </div>
    <br/>
    <div class="container-fluid">
    {% for d in calificaciones %}

    <div class="media">
      <div class="media-left media-middle">
        {% if d.puntuacion >= 3 %}
            <span class="glyphicon glyphicon-thumbs-up" />
        {% else %}
            <span class="glyphicon glyphicon-thumbs-down"/>
        {% endif %}
      </div>
      <div class="media-body">
        <h4 class="media-heading">
            <a href="/escaparate/?escaparate_id={{d.escaparate.id}}">
                <strong>{{ d.escaparate.nombre }}</strong>
            </a>

            <br/>
            <br/>
            {{ d.fechaHora }} - {{ d.usuario }}
        </h4>
        <h5><strong>Calificación:</strong></h5>
        <input data-show-clear="false" data-min="0" data-max="5" data-step="0.5" class="rating" value="{{ d.puntuacion|stringformat:"f" }}" data-readonly="true" data-size="sm">
        {% if d.comentario %}
            <strong>Comentario:</strong> {{ d.comentario }}
        {% endif %}
      </div>
    </div>
    <hr/>

    {% empty %}
        <p>Aún no se han registrado calificaciones!</p>
    {% endfor %}
    </div>
</div>

<script>

</script>