{% extends 'base.html' %}

{% block contenido %}

        <h3>Resultados de la búsqueda..</h3>

        {% for result in resultado %}

            {% if result.content_type == "EscaparateApp.escaparate" %}
                Escaparate:
                <p>
                    <a href="/escaparate/?escaparate_id={{result.object.id}}">
                        {{ result.object.nombre}}
                    </a>
                    {{ result.object.descripcion }}
                </p>
            {% endif %}

            {% if result.content_type == "EscaparateApp.publicacion" %}
                Publicación:
                <p>
                    <a href="/escaparate/?publicacion_id={{result.object.id}}">
                        {{ result.object.titulo}}
                    </a>
                    {{ result.object.descripcion }}
                </p>
            {% endif %}

        {% empty %}
            <p>No se han encontrado coincidencias..</p>
        {% endfor %}


{% endblock %}